@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Srijit's Website</h1>
    <p>To learn more about <a href="https://www.brainwareuniversity.ac.in">Brainware University</a>. Please click here.</p>
    <p>Edited : My name Srijit Barui. I am  a student of M.Sc in Advanced Networking and Cyber Security, Brainware University.</p>
</div>
